.main-body-profile-image {
    border-radius: 50%;
    align-items: center;
}
.homepage-body-container {
    margin-top: 150px;
    margin-bottom: 100px;
}
.main-body-profile-image {
    border-radius: 50%;
}
.introduction-heading {
    font-size: 100px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.introduction-sub-heading {
    font-size: 25px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.introduction-text {
    font-size: 15px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
.link-button-shape-size {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: black;
    display: block;
    justify-content: center;
    border-color: black;
}
.link-button-shape-size:active {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: black;
    display: block;
    justify-content: center;
    border-color: black;
}
.link-button-shape-size:hover {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: black;
    display: block;
    justify-content: center;
    border-color: black;
}
.resume-button {
    background-color: #696969;
    margin-bottom: 10%;
}
.projects-button {
    background-color: #808080;
    margin-bottom: 10%;
}
.contact-button {
    background-color: #696969;
    margin-bottom: 10%;
}
.section-links {
    margin-top: 50px;
    margin-bottom: 50px;
}
.toggle_overlap_button {
    background-color: transparent;

}
