/* Design for the Profile Image in the Navigation Bar */
.nav-bar-profile-image {
    border-radius: 50%;
}

/* Design for the Profile Name in the Navigation Bar */
.nav-bar-profile-name {
    margin-left: 10px;
    font-weight: bold;
}

/* Design for the Profile Headline in the Navigation Bar */
.nav-bar-profile-headline {
    display:block;
    font-size: small;
    margin-left: 65px;
    margin-top: -20px;
    word-wrap: break-word;
    white-space: normal;
    overflow: auto;
}

/* Design for the background of the entire website */
.background-color {
    background-color: #C7C7C7;
}

.footer-heading {
    font-weight: bold;
}

.footer-heading-row {
    padding-bottom: 10px;
}

.initial-padding {
    padding-left: 0;
    padding-top: 0;
    margin-left: 0 !important;
    margin-top: 0 !important;
}

.footer-email-address {
    word-wrap: break-word;
    white-space: normal;
    overflow: auto;
}

.footer {
    padding-top: 10px;
}

.header-break {
    margin-top: -2px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-break {
    margin-bottom: -2px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

main {
    height: 100%;
    /*margin-bottom: -15px;*/
    /*margin-top: -15px;*/
}
